@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-2xl bg-transparent;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-default-400/50;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-default-400;
  }

  .scrollbar-hidden::-webkit-scrollbar-track {
    @apply rounded-2xl bg-transparent;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }

  .scrollbar-hidden::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-transparent;
  }

  .scrollbar-hidden::-webkit-scrollbar-thumb:hover {
    @apply bg-transparent;
  }
}
